@import "./smart-grid.less";

.profile{
  .wrapper();
  margin-top: 70px;
  margin-bottom: 70px;
  &__sitebar .appBtn{
    margin-bottom: 15px;
  }
}

.content{
  &__header{
    padding: 12px 0;
    font-size: 20px;
    line-height: 30px;
    font-weight: 500;
    border-bottom: 2px solid var(--main);
  }
  &__body{
    border: 2px solid var(--main);
    border-radius: 20px;
    padding: 0 15px;
    padding-bottom: 30px;
    margin-top: 15px;
  }
  &__title{
    font-weight: 600;
    font-size: 24px;
    line-height: 36px;
  }
}
.history{
  &__item{
    padding: 10px 0;
    border-bottom: 2px solid var(--main);
    &:last-child{
      border: 0;
    }
  }
}
.historyEmpty{
  text-align: center;
  margin-top: 130px;
  margin-bottom: 131px;
  & .appBtn{
    max-width: 207px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 21px;
  }
}
.profileForm{
  margin-bottom: 20px;
  &__btn{
    margin-top: 54px;
  }
  &__notise{
    font-size: 16px;margin-top: 10px;
  }
  &__btnSend{
    min-width: 145px;
    margin-top: 38px;
  }
}